@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100%;
    background: radial-gradient(#295174, #052058);
}

header {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    height: 75px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    text-align: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.fila-titulo {
    background-color: #1569b2;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(255, 255, 255);

}

.titulo {
    color: white;
    font-family: "Rubik Mono One", monospace;
    font-size: 20px;
    text-align: justify;

}

.logo {
    width: 70px;
    height: 90px;
}

.fila-inicio {
    background-color: #0b5394;
    height: 75px;
}

.texto-inicio {
    font-family: "Jura", sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

.fila-vacia {
    background-color: #083a76;
    height: 75px;

}

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00225f;

}

#buscador {
    width: 280px;
    height: 40px;
    border-radius: 25px;

}

a {
    text-decoration: none;
}

.container {
    margin-top: 10%;
    margin-bottom: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-family: "Jura", sans-serif;
    color: white;
}

.form-titulo {
    background-color: #2f5f98;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #2d8bba;
    width: 920px;
    height: 1370px;
}

p {
    color: white;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
}

input {
    height: 15px;
    width: 15px;
}

label {
    color: rgb(204, 204, 204);
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    margin-left: 20px;

}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.volver {
    height: 30px;
    background-color: #fdd020;
    width: 80px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    position: absolute;
    font-family: "Arimo", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15px;
    top: 100px;
}

a {
    color: white;
}

.boton-enviar {
    width: 100px;
    height: 30px;
    margin-top: 9px;
    background-color: #00225f;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
}